.AnswerInput {
  margin: 0 auto;

  h3 {
    margin: 0 0 10px;
  }

  .flex-container {
    display: flex;
    justify-content: center;
  }

  .input {
    background-color: white;
    border-radius: $rounded-border;
    border: 4px solid #999;
    color: #333;
    font-size: 1.2em;
    line-height: 1.5;
    overflow: auto;
    padding: 10px 15px;
    width: 100%;

    &:hover {
      border: $purple-border;
      cursor: text;
    }
    
    &:focus {
      border: $purple-border;
    }
  }
}
