.Nav {
  align-items: center;
  background-color: $pink;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  z-index: 4;
}

.Nav-header {
  font-family: "Roboto Slab";
  font-size: 2em;
  margin: 0;
  padding: 15px 25px;
}

.fa-bars {
  font-size: 2em;
  padding: 0px 25px;
}