// SCSS VARIABLES

// Colors
$black: #333333;
$cream: #FDF9DE;
$dark-purple: #351924;
$dark-teal: #41A893;
$green: #447F00;
$grey: #74919F;
$light-purple: #F2F2F2;
$pink: #FD6E72;
$purple: #745260;
$red: #db1818;
$teal: #ABE7DB;

// Borders
$purple-border: 4px solid $purple;
$rounded-border: 3px;
$subtle-shadow: -3px 3px 1px rgba(0, 0, 0, 0.2);