// SCSS VARIABLES

// Colors
$black: #333333;
$cream: #FDF9DE;
$dark-purple: #351924;
$grey: #74919F;
$light-purple: #F2F2F2;
$pink: #FD6E72; // cat nose color
$purple: #745260; // cat color
$teal: #ABE7DB; // cat background color

// Borders
$purple-border: 4px solid $purple;
$rounded-border: 3px;
$subtle-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);